.container{
    height: 30rem;
    width: 25rem;
    border: 1px solid;
}
#root{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input{
    height: 25%;
    width: 100%;
    font-size: 2rem;
    background-color: #cacecf;
    border: 1px solid;

    text-align: center;
}
.buttons{
    height: 75%;
    width: 100%;
    border: 1px solid;
}
.small-button{
    height: 25%;
    width: 100%;
    display: flex;
}
.small{
    height: 100%;
    width: 25%;
    font-size: 2rem;
    text-align: center;
    border: 1px solid;
}